body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.action-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.result-container {
    margin-top: 20px;
    white-space: pre-wrap;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 10px;
}

form button {
    padding: 5px;
    cursor: pointer;
}